
<div class="control-group pref-title">
  <label class="control-label">{{i18n "discourse-virtmail.user_preferences_security.title"}}</label>
  <div class="controls">
    {{#if model.virtmail_password}}
      <code>{{model.virtmail_password}}</code>
    {{/if}}
    <DButton
      @action={{this.resetVirtmailPassword}}
      @actionParam={{model}}
      @icon="sync"
      @label="discourse-virtmail.user_preferences_security.reset_password"
    />
  </div>
</div>
